$background-titolo: red;
$colore-titolo: orange;
$font-titolo: 50px;
$background-paragrafo: green;
$colore-paragrafo: yellow;
$font-paragrafo: 20px;
$padding-bottone: 20px;


h1 {
    background-color: $background-titolo;
    color: $colore-titolo;
    font-size: $font-titolo;
}

p {
    background-color: $background-paragrafo;
    color: $colore-paragrafo;
    font-size: $font-paragrafo;
}



button {
    background-color: $background-titolo;
    color: $colore-titolo ;
    font-size: $font-paragrafo;
    padding: $padding-bottone;
}
